In [1]:
import agate

In [2]:
drones = agate.Table.from_csv('drones.csv')

tester = agate.TypeTester(force={
    'Id': agate.Text(),
    'ZCTA': agate.Text()
})

zips = agate.Table.from_csv('zcta.csv', column_types=tester)

In [3]:
print(drones)

|----------------------------+---------------|
|  column_names              | column_types  |
|----------------------------+---------------|
|  Country                   | Text          |
|  State / Province / Region | Text          |
|  City                      | Text          |
|  Postal Code               | Text          |
|  Number of Registrations   | Number        |
|----------------------------+---------------|

In [4]:
print(zips)

|---------------+---------------|
|  column_names | column_types  |
|---------------+---------------|
|  Id           | Text          |
|  ZCTA         | Text          |
|  Geography    | Text          |
|  Total        | Number        |
|---------------+---------------|

In [5]:
us_drones = drones.where(lambda row: row['Country'] == 'United States')

In [6]:
drone_with_populations = us_drones.join(zips, 'Postal Code', 'ZCTA', inner=True)

In [7]:
print(drone_with_populations)

|----------------------------+---------------|
|  column_names              | column_types  |
|----------------------------+---------------|
|  Country                   | Text          |
|  State / Province / Region | Text          |
|  City                      | Text          |
|  Postal Code               | Text          |
|  Number of Registrations   | Number        |
|  Id                        | Text          |
|  Geography                 | Text          |
|  Total                     | Number        |
|----------------------------+---------------|

In [8]:
drone_with_populations.print_table(max_rows=10)

|----------------+---------------------------+--------------+-------------+-------------------------+----------------+-------------+---------|
|  Country       | State / Province / Region | City         | Postal Code | Number of Registrations | Id             | Geography   |  Total  |
|----------------+---------------------------+--------------+-------------+-------------------------+----------------+-------------+---------|
|  United States | AK                        | 99508        | 99508       |                       1 | 8600000US99508 | ZCTA5 99508 | 35,135  |
|  United States | AK                        | Aachen       | 52064       |                       1 | 8600000US52064 | ZCTA5 52064 |    885  |
|  United States | AK                        | Alakanuk     | 99554       |                       1 | 8600000US99554 | ZCTA5 99554 |    733  |
|  United States | AK                        | Alaska       | 99712       |                       1 | 8600000US99712 | ZCTA5 99712 | 12,134  |
|  United States | AK                        | Amook Pass   | 99615       |                       1 | 8600000US99615 | ZCTA5 99615 | 13,096  |
|  United States | AK                        | anchor point | 99556       |                       8 | 8600000US99556 | ZCTA5 99556 |  2,710  |
|  United States | AK                        | Anchorage    | 95501       |                       1 | 8600000US95501 | ZCTA5 95501 | 23,769  |
|  United States | AK                        | Anchorage    | 99501       |                      33 | 8600000US99501 | ZCTA5 99501 | 16,976  |
|  United States | AK                        | Anchorage    | 99502       |                      75 | 8600000US99502 | ZCTA5 99502 | 24,012  |
|  United States | AK                        | Anchorage    | 99503       |                      29 | 8600000US99503 | ZCTA5 99503 | 14,661  |
|  ...           | ...                       | ...          | ...         |                     ... | ...            | ...         |    ...  |
|----------------+---------------------------+--------------+-------------+-------------------------+----------------+-------------+---------|

In [9]:
from decimal import Decimal

def drone_rate(row):
    if row['Number of Registrations'] == 0:
        rate = float(0)
    elif row['Total'] == 0:
        rate = float(0)
    else:
        rate = (row['Number of Registrations']/row['Total'])*100000
    return rate

drone_rate = drone_with_populations.compute([
    ('drone_rate', agate.Formula(agate.Number(), drone_rate))
])

In [10]:
sorted_rates = drone_rate.order_by('drone_rate', reverse=True)

In [14]:
for_printing = sorted_rates.select(['City', 'State / Province / Region', 'Postal Code', 'Number of Registrations','Total', 'drone_rate'])

In [15]:
for_printing.print_table(max_rows=50)

|-----------------------+---------------------------+-------------+-------------------------+-------+---------------------------------|
|  City                 | State / Province / Region | Postal Code | Number of Registrations | Total |                     drone_rate  |
|-----------------------+---------------------------+-------------+-------------------------+-------+---------------------------------|
|  Oakville             | NY                        | 10110       |                       1 |     1 | 100,000.0000000000000000000000  |
|  Pullman              | WA                        | 99164       |                       1 |     1 | 100,000.0000000000000000000000  |
|  Greenville           | MS                        | 38704       |                       1 |     3 |  33,333.3333333333333333333333  |
|  Bellville            | TX                        | 77481       |                       1 |     3 |  33,333.3333333333333333333333  |
|  Thompsons            | TX                        | 77481       |                       1 |     3 |  33,333.3333333333333333333333  |
|  Scotland             | PA                        | 17254       |                       1 |     4 |  25,000.0000000000000000000000  |
|  Thompson Ridge       | NY                        | 10985       |                       3 |    14 |  21,428.5714285714285714285714  |
|  Buckingham           | PA                        | 18912       |                       2 |    11 |  18,181.8181818181818181818182  |
|  East Orleans         | MA                        | 02643       |                       3 |    18 |  16,666.6666666666666666666667  |
|  Davis Creek          | CA                        | 96108       |                       1 |     7 |  14,285.7142857142857142857143  |
|  Stehekin             | WA                        | 98852       |                       1 |     7 |  14,285.7142857142857142857143  |
|  Wiseman              | AK                        | 99790       |                       2 |    20 |  10,000.0000000000000000000000  |
|  N Hatfield           | MA                        | 01066       |                       1 |    10 |  10,000.0000000000000000000000  |
|  North Hatfield       | MA                        | 01066       |                       1 |    10 |  10,000.0000000000000000000000  |
|  Sulphur Springs      | OH                        | 44881       |                       1 |    11 |   9,090.9090909090909090909091  |
|  Cedar Lane           | TX                        | 77415       |                       1 |    11 |   9,090.9090909090909090909091  |
|  Middleburg           | VA                        | 20118       |                       1 |    11 |   9,090.9090909090909090909091  |
|  chico                | CA                        | 95923       |                       1 |    12 |   8,333.3333333333333333333333  |
|  Goodyears Bar        | CA                        | 95944       |                       1 |    12 |   8,333.3333333333333333333333  |
|  Lincoln              | NE                        | 68531       |                       1 |    13 |   7,692.3076923076923076923077  |
|  Seattle              | WA                        | 98195       |                       3 |    39 |   7,692.3076923076923076923077  |
|  kaneohe bay          | HI                        | 96863       |                       2 |    27 |   7,407.4074074074074074074074  |
|  Mikana               | WI                        | 54857       |                       2 |    29 |   6,896.5517241379310344827586  |
|  Indian Lakes Estates | FL                        | 33855       |                       1 |    15 |   6,666.6666666666666666666667  |
|  Bellona              | NY                        | 14415       |                       4 |    61 |   6,557.3770491803278688524590  |
|  Robbinsville         | NJ                        | 08561       |                       1 |    16 |   6,250.0000000000000000000000  |
|  Norman               | OK                        | 73019       |                       4 |    64 |   6,250.0000000000000000000000  |
|  San Francisco        | CA                        | 94104       |                      13 |   223 |   5,829.5964125560538116591928  |
|  Princewick           | WV                        | 25908       |                       3 |    52 |   5,769.2307692307692307692308  |
|  Brooks               | CA                        | 95606       |                       2 |    35 |   5,714.2857142857142857142857  |
|  Montchanin           | DE                        | 19710       |                       1 |    18 |   5,555.5555555555555555555556  |
|  Aquebogue            | NY                        | 11931       |                       2 |    36 |   5,555.5555555555555555555556  |
|  Greenville junction  | ME                        | 04442       |                       3 |    56 |   5,357.1428571428571428571429  |
|  Averill              | VT                        | 05901       |                       1 |    19 |   5,263.1578947368421052631579  |
|  Eminence             | IN                        | 46125       |                       2 |    39 |   5,128.2051282051282051282051  |
|  Point Clear          | AL                        | 36564       |                       1 |    20 |   5,000.0000000000000000000000  |
|  Pompey               | NY                        | 13138       |                       1 |    21 |   4,761.9047619047619047619048  |
|  Sheldon Springs      | VT                        | 05485       |                       2 |    42 |   4,761.9047619047619047619048  |
|  Wallula              | WA                        | 99363       |                       1 |    21 |   4,761.9047619047619047619048  |
|  Wooster              | AR                        | 72181       |                       1 |    22 |   4,545.4545454545454545454545  |
|  Bingham              | NE                        | 69335       |                       1 |    22 |   4,545.4545454545454545454545  |
|  Elwood               | NJ                        | 08217       |                       1 |    22 |   4,545.4545454545454545454545  |
|  Tuscarora            | MD                        | 21790       |                       2 |    45 |   4,444.4444444444444444444444  |
|  Santa Cruz           | CA                        | 65062       |                       1 |    23 |   4,347.8260869565217391304348  |
|  Somerdale            | OH                        | 44678       |                       1 |    23 |   4,347.8260869565217391304348  |
|  Gateway              | CO                        | 81522       |                       1 |    25 |   4,000.0000000000000000000000  |
|  Como                 | CO                        | 80432       |                       4 |   104 |   3,846.1538461538461538461538  |
|  Panama City beach    | FL                        | 32461       |                       1 |    26 |   3,846.1538461538461538461538  |
|  Rosemary Beach       | FL                        | 32461       |                       1 |    26 |   3,846.1538461538461538461538  |
|  Boise,idaho          | ID                        | 83666       |                       1 |    26 |   3,846.1538461538461538461538  |
|  ...                  | ...                       | ...         |                     ... |   ... |                            ...  |
|-----------------------+---------------------------+-------------+-------------------------+-------+---------------------------------|

In [16]:
for_printing.to_csv('droneregistrationrate.csv')